:root {
  --clr-highlight-link: #9eb6be;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  gap: 1rem;
}

.main-nav-logo {
  text-decoration: none;
}

.main-nav-link {
  text-decoration: none;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}

.main-nav-link:hover {
  background-color: var(--clr-highlight-link);
  color: white;
  border-radius: 1rem;
}
